{% if blogs_list|length > 0 %}
<table class="table table-hover">
  {% for blog in blogs_list %}
    <tr valign="top">
      <td width="180">
          <a href="{% url 'blog_detail' blog.owner blog.pk %}">
              <img src="{{ blog.urlImg }}" width="180" class="img-rounded" />
          </a>
      </td>
      <td width="5">&#160;</td>
      <td width="100%" class="teasertxt">
          <p class="teaserhead">
              <a href="{% url 'blog_detail' blog.owner blog.pk %}">{{ blog.title }}</a>
              <small><a href="{% url 'blog_owner' blog.owner %}">{{ blog.owner }}</a></small>
          </p>
          <p>
              {{ blog.resumen }}
          </p>
      </td>
    </tr>
  {% endfor %}
</table>
{% else %}
<p>No publications! :(</p>
{% endif %}
