{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block sectionTitle %}
{{ blog.title }} (<a href="{% url 'blog_owner' blog.owner %}">{{ blog.owner }}</a>)
{% endblock %}

{% block section %}
<div class="row">

    <div class="col-md-4">
        <img src="{{ blog.urlImg }}" width="100%"  class="img-rounded">
    </div>
    <div class="col-md-8">
        <dl>
            <dt>
                {{ blog.resumen }}
            </dt>
            <dl>
                {{ blog.cuerpo }}
            </dl>
        </dl>

    </div>

</div>
<div>
    <span class="caret"></span>
    <p class="bg-info">
        Created by {{ blog.owner.first_name }} {{ blog.owner.last_name }} - {{ blog.modified_at }} {{ blog.status }}
    </p>
</div>
{% endblock %}
